# Python
__pycache__/
*.pyc
venv/
.venv/
.env
.pytest_cache
.coverage
coverage.xml
htmlcov/
pytest.ini
pytestdebug.log

# Database
*.db
chroma_db/

# Data
recordings/
notebooks_audio/

# Logs
log/

# OS
.DS_Store

models/
